.Sidebar{
  height: 100vh;
  background: var(--light-bg);
  position: relative;
  width: var(--sidebar-width);
  transition: .7s width;
}
.switchers{
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.collapsed{
  width: var(--sidebar-collabsed-width);
  .switchers{
    flex-wrap:wrap;
    justify-content: center;
  }
}
.collapsedBtn{
  position: absolute;
  cursor: pointer;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.logo{
  display: flex;
  justify-content: center;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
.item{
  display: flex;
  align-items: center;
  gap: 12px;


}