.ProductList{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    align-items: start;

    li{
      max-width: 20%;
      height: 300px;

      :hover{
        transform: scale(1.012);
      }
    }
  }
}