<<<<<<< HEAD
.ProductList{
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px;
      align-items: center;

      li {
        max-width: 20%;
        height: 300px;

        >a:hover {
          transform: scale(1.05);
        }
      }

    }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
=======
.ProductList{
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    align-items: start;

    li{
      max-width: 20%;
      height: 300px;

      :hover{
        transform: scale(1.012);
      }
    }
  }
>>>>>>> 46824f00109fcc4a3266d54303d7ebca15a53a3b
}